.movieList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.movie {
  min-height: 26rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.75rem;
  background: white;
  width: 17rem;
  margin: 1rem 0.5rem;
  border-radius: 6px 0 0 6px;
  border-left: 5px solid #9cdcb3;
  cursor: pointer;
}

.movie img {
  height: 23rem;
  font-size: 1.4rem;
  width: 17rem;
  margin-bottom: 1rem;
}

.movie h2 {
  text-align: center;
  color: black;
  text-decoration: none;
  font-size: 1.8rem;
}

.heading {
  padding: 1rem;
  text-align: center;
  height: 4rem;
  font-size: 3rem;
  border: 2px solid #ffcb38;
  margin: 2rem;
  background-color: #ffcb38;
  font-stretch: expanded;
  letter-spacing: 1.5px;
}
